---
import "@altie122/ui/styles/globals.css";
import Head from "../components/head.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Head/>
  </head>
  <body class="h-svh">
    <slot />
  </body>
</html>
