---
import "@altie122/ui/styles/globals.css";
import Head from "../components/head.astro";
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Head/>
    <Analytics />
    <SpeedInsights />
  </head>
  <body class="h-svh">
    <slot />
  </body>
</html>
